html
  head
    title='Sachin Maharana'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body 
    div.container
      div.jumbotron
        h1 Sachin is into kubernetes.
        p
        p
           a.btn.btn-primary(href="https://blog.sachinmaharana.in") Blog
        p